<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<import resource="protocol_beans.xml"/>
   	<import resource="server_beans.xml"/>
   	
   	<bean id="scriptroot" class= "java.lang.String">
		<constructor-arg value="${scriptroot}" />
	</bean>
	
	<context:annotation-config />
	
	<!-- Configure all properties files here, wildcards like *.properties are 
		also allowed -->
	<context:property-placeholder
		location="/props/server.properties" />
	
</beans>